.releases {
  width: 100%;
  max-width: 60rem;

  &__poster {
    width: 10rem;
    height: 15rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: var(--rounded-s);
  }

  &__movie-title {
    width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    text-align: center;
    font-weight: 600;
  }
}

@media screen and (max-width: 800px) {
  .releases {
    &__list {
      flex-wrap: nowrap !important;
      justify-content: flex-start !important;
      overflow-x: scroll;
      overflow-y: auto;
      padding-bottom: 1rem;
    }
  }
}
