.musicItem {
  cursor: pointer;

  img {
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: var(--rounded-s);
  }

  h3 {
    line-height: 20px;
    max-width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__album {
    margin: 0rem 0 0.5rem;

    line-height: 22px;
    max-width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__authors {
    color: var(--color-grey-500);
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  audio {
    display: none;
  }

  &__button {
    color: var(--color-primary-700);
    transition: color var(--transition-1);

    &:hover {
      color: var(--color-primary-500);
    }
  }
}
.albumItem {
  width: 100%;
  max-width: 20rem;

  &--selected {
    background-color: var(--color-primary-700);
    color: white;
    a {
      color: white !important;
    }
  }
}
.trackItem {
  cursor: default;
}
