.movie {
  min-height: 55dvh;
  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    opacity: 0.7;
    max-height: 21rem;
  }

  &__poster {
    width: 20rem;
    object-fit: cover;
    box-shadow: var(--shadow-l);
    border-radius: var(--rounded-s);
  }

  &__details {
    max-width: 50rem;
    width: 100%;

    h1 {
      text-align: center;
      width: fit-content;
      line-height: 26px;
    }
    p {
      text-align: justify;
      text-indent: 1rem;
    }
  }

  &__buttons {
    button {
      width: 6.8rem;
    }
    svg {
      flex-shrink: 0;
    }
  }

  &__button {
    position: relative;
    border: none;
    transition: all 0.7s ease;
    padding: 0.6rem;

    &:hover {
      background-color: transparent;
      color: var(--color-primary-500);
    }

    &::after {
      content: '';
      width: 12px;
      height: 2px;
      background-color: var(--color-primary-700);
      border-radius: var(--rounded-full);
      position: absolute;
      bottom: 7px;
      left: 2px;
    }
    // Add ::before element only on the <add> button (del by default)
    &--add::before {
      content: '';
      height: 12px;
      width: 2px;
      background-color: var(--color-primary-700);
      border-radius: var(--rounded-full);
      position: absolute;
      bottom: 2px;
      left: 7px;
    }
  }

  &__persons {
    width: 100%;
    max-width: 45rem;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__person {
    a {
      text-align: center;
      line-height: 14px;
      font-size: var(--font-s);
    }
    img {
      width: 5.8rem;
      height: 7.5rem;
      object-fit: cover;
    }
    p {
      text-align: center;
      font-size: var(--font-s);
      margin: 0;
      line-height: 14px;
    }
    &:hover p:first-child {
      text-decoration: underline;
    }
  }

  &__trailer {
    width: 100%;
    max-width: 50rem;

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  &__provider {
    width: 2rem;
    height: 2rem;
    border-radius: var(--rounded-s);
  }
}

@media screen and (max-width: 800px) {
  .movie {
    margin-top: 4rem;

    &__backdrop {
      top: 4rem;
      max-height: 17rem;
    }
    &__poster {
      width: 10rem;
      height: 15rem;
    }
    &__buttons {
      width: 100%;
      p {
        font-size: var(--font-s);
      }
      button {
        gap: 0.5rem !important;
        width: 100%;
      }
    }
    &__providers {
      width: 100%;
      align-self: flex-start;
    }
  }
}
